# Ignore __pycache__ directories
__pycache__/
**/__pycache__/

# Ignore compiled Python files
*.pyc

# Ignore videos
*.mp4
**/*.mp4

# Ignore images
*.png
**/*.png

*.egg-info/

# ignore weights
checkpoints/